<button type="button" ng-click="modal.open()">Open modal</button>

<script type="text/ng-template" id="subModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Modal</h3>
  </div>

  <div scroll-area class="modal-body"
       style="overflow-y: scroll; height: 300px;"
       ev-scroll-prev="subModal.prev()" ev-scroll-next="subModal.next()">
    <country country-id="subModal.index"></country>
    <padding-for-scroll></padding-for-scroll>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$dismiss()">Close</button>
  </div>
</script>
